@import url(https://fonts.googleapis.com/css?family=Abril+Fatface:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url("fonts.css");
@import url("reset.css");

body{
    font-family:"ProximaNova",sans-serif;
    /* font-family: "Abril Fatface", sans-serif; */
    font-weight: 400;
    color:#2b2929;
    /* vertical-align: middle; */
}  

.container{
    max-width: 1920px;
    /* padding-left: 425px;
    padding-right: 425px; */
    background-color: #f8f8f8;
    }

    .header{
        font-size: 20px;
    }
.design{
    /* display: inline-block; */
    max-width: 1070px;
    /* vertical-align: middle; */
    /* margin-top: 40px; */
    margin: 0 auto;
}

.main-photo{
    max-width: 100%;
    padding-bottom: 40px;
}
/* span{
    text-decoration: line-through;
    text-decoration-color:red;
} */


.title-disign{
    font-size: 40px;
    line-height: 1.20; /* 48/40 */
    letter-spacing: 0;
    padding-bottom: 40px;
} 


p{
    line-height: 1.875;
    letter-spacing: 0;
    padding-bottom: 10px;
}

.range{
    max-width: 1070px;
    margin: 0 auto;
}

.title-range{
    font-size: 20px;
    line-height: 1.40; /* 28/20 */
    letter-spacing: 0;
    padding-bottom: 30px;
    font-weight: 600;
}

.range-list{
padding-bottom: 20px;
padding-left: 47px;
line-height: 1.875; /* 30/16 */
    letter-spacing: 0;
}
.range-list-item{
    padding-bottom: 20px;
}

.range-item{
    line-height: 187.5%; /* 30/16 */
    letter-spacing: 0;
    padding-bottom: 40px;
    }

.about-us{
     /* display:inlaine-block; */
     /* max-width: 1290px; */
    margin: 0 auto;
}

.title-about{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
}

.list-about{
    /* display: inline-block;   */
    padding-top: 40px;
    padding-bottom: 70px;
    width: 67.18%;
    margin: 0 auto;
}

.list-about-item{
    width: 25.2%;
    display: inline-block;
    padding-right: 30px;
    vertical-align: top; 
}

.list-about-item-end{
    width: 23.20%;
    display: inline-block;
    vertical-align: top;   
}

.list-about-mark{
    width: 100%;
    padding: 0 65px 20px;
}

.title-list-about{
    font-size: 26px;
    text-align: center;
    padding-bottom: 20px;
    line-height:1.30769;
    font-weight: 600;
}

.text-about{
    text-align: center;
    line-height: 1.875; 
}

#contacts{
    text-align: right;
    font-size: 20px;
}

.discounts{
    background-color: rgba(30, 40, 50, 0.05);  /* 1E2832  5%*/
    max-width: 100%;
    padding: 100px 0 335px;
    margin: 0 auto;
    /* overflow: hidden; */
}

.title-discounts{
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    color: #000;
    padding-bottom: 60px;
}

.items {
    /* padding: 60px 300px 335px ; */
    width: 68.7499%; 
    max-width: 1320px;
    margin: 0 auto;
    margin-left:16.875%;
    font-size: 0;
} 

.item {
	display: inline-block;
    width: 16.66%;
    padding-right: 24px;
    }

/* .content {
    max-width: 200px;
    max-width: 100%; 
	padding-right: 24px;
}  */

