@import url("fonts.css");
@import url("reset.css");


body{
    font-family:"ProximaNova",sans-serif;
    color:#2b2929;
    background-color: #f8f8f8;
    padding: 0 20px;
}  


.header{
    font-size: 20px;
    margin-bottom: 10px;
    background-color: rgb(238, 251, 251);
    }

.design{
    max-width: 1070px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.main-photo{
    max-width: 100%;
    margin-bottom: 40px;
}

.title-disign{
    font-size: 40px;
    line-height: 1.20; /* 48/40 */
    letter-spacing: 0;
    margin-bottom: 40px;
} 


.text-design, .text-design-end{
    line-height: 1.875;
    letter-spacing: 0;
    margin-bottom: 10px;
}

.text-design-end{
    margin-bottom: 0;
}

.range{
    max-width: 1070px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.title-range{
    font-size: 20px;
    line-height: 1.40; /* 28/20 */
    letter-spacing: 0;
    margin-bottom: 30px;
    font-weight: 600;
}

.range-list{
margin-bottom: 40px;
padding-left: 47px;
line-height: 1.875; /* 30/16 */
letter-spacing: 0;
}
.range-list-item{
    padding-bottom: 20px;
}
.range-list-item-end{
    padding-bottom: 0;
}

.range-item{
    line-height: 187.5%; /* 30/16 */
    letter-spacing: 0; 
    }

.about-us{
    margin: 0 auto;
    margin-bottom:70px;
    padding-top: 70px;
}

.title-about{
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
}

.list-about{
    margin-right: 40px;
    width: 67.18%;
    margin: 0 auto;
}

.list-about-item{
    width: 25.2%;
    display: inline-block;
    padding-right: 30px;
    vertical-align: top; 
}

.list-about-item-end{
    width: 23.20%;
    display: inline-block;
    vertical-align: center;   
}

.list-about-mark{
    display: block;
    max-width: 170px;
    margin: 0 auto 20px;
}

.title-list-about{
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
    line-height:1.30769;
    font-weight: 600;
}

.text-about{
    text-align: center;
    line-height: 1.875; 
}


.discounts{
    background-color: rgba(30, 40, 50, 0.05);  /* 1E2832  5%*/
    max-width: 100%;
    padding: 100px 0 335px;
    margin: 0 auto;
    /* overflow: hidden; */
}

.title-discounts{
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    color: #000;
    margin-bottom: 60px;
}

.items {
    display:block;
    width: 68.7499%; 
    max-width: 1320px;
    margin: 0 auto;
    font-size: 0;
} 

.item {
	display: inline-block;
    width: 16.66%;
    padding-right: 24px;
    }

#contacts{
    padding: 0 20px 20px 0;
    text-align: right;
    font-size: 20px;
    background-color: antiquewhite;
}
